body {
    background-image: url("PrairieWind.png");
    background-repeat: repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes full viewport height */
}

.container {
    background-color: black;
    color: white;
    font-family: monospace;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

a:link, a:visited {
    color: white;
}

p, li, h1, h2, h3, h4 {
    margin: 10px 0; /* Add some margin for spacing between elements */
}
